body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100vh;
}
.text-contaner{
    position: absolute;
    top: 100px;
    right:200px;
    font-size: 40px;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
.store-list-container{
    position: absolute;
    right:200px;
    z-index: 30;
}
.search-box-container{
    width: 300px;
    height: 50px;
    background-color: #454E53;
    position: absolute;
    display: flex;
    right: 8px;
    top: 150px;
    z-index: 30;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 30px;
}
.search-box-container input {
    width: 100%;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: white;
    padding-left: 20;
}

.search-box-container input:focus {
    outline: none;
}

.search-box-container i {
    padding: 10px;
    color: white;
    font-size: 25px;
}
.adress-list{
    position: absolute;
    top: 210px;
    right: 10px;
    background-color: white;
    width: 325px;
    height: 350px;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}
.adress-container{
    margin: 10px;
    border-radius: 5px;
    display: flex;
    border-bottom: 1px solid #979797;
    padding-left: 10px;
    padding-right: 10px;
}
.adress-container span {
    display: block;
}
.store-adress{
    flex-grow: 1;
}
.adress-container {
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}

.adress-pnumber {
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}
.store-index{
    background-color: #454E53;
    display: flex;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}