body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100vh;
    width: 75%;
}
.flex-box-container{
    display: flex;
    align-items: center;
}
.flex-box-list{
    width: 27%;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    background-color: #AADAFF;
    height: 96vh;
}
.text-contaner{
    font-size: 28px;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
.store-list-container{
    
    right:200px;
    z-index: 30;
}
.search-box-container{
    width: 319px;
    height: 50px;
    background-color: #454E53;
    display: flex;
    z-index: 30;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
}
.search-box-container input {
    width: 100%;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: white;
    padding-left: 20;
}

.search-box-container input:focus {
    outline: none;
}

.search-box-container i {
    padding: 10px;
    color: white;
    font-size: 25px;
}
.adress-list{
    background-color: white;
    width: 325px;
    height: 75vh;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}
.adress-container{
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #979797;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}
.adress-container span {
    display: block;
}
.store-adress{
    flex-grow: 1;
}
.adress-container:hover {
    background-color: #ccc;
}
.universities-index{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #333;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    color:white;
}

.adress-pnumber {
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}
.store-index{
    background-color: #454E53;
    display: flex;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.info-window{
    display: flex;
    flex-direction: column;
    max-width:300px;
}
.info-name{
    font-size: 28px;
    font-weight: bold;
    color: rgba(0,0,0, 0.87);
    display: flex;
    align-items: center;
    text-align: center;
}
.info-acronym{
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}
.info-phone, .info-website, .info-adress{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}